body {
	background-color:black;
	color:white;
	font-family: 'Lobster', cursive;
}
#container{
	margin:auto;
	
}
.name{
	float:left;
	letter-spacing:2px;
	word-spacing:5px;
	margin-left:20px;
}
.name a{
	text-decoration:none;
	color:white;
}
.name a:hover{
	color:orange;
	
}
.menu{
	float:right;
}
.menu a{
	color:white;
	text-decoration:none;
}
.menu a:hover{
	color:orange;
}
nav ul li{
	display:inline-block;
	font-size:32px;
	letter-spacing:2px;
	margin-right:20px;
}
.content{
	width:1500px;
	margin:auto;
	min-height:720px;
	
}
.gallery img{
	padding-bottom:50px;
	display:block;
	margin:auto;
	max-width: 100%;
    max-height: 100%;
}
.galleryJav{
	padding-bottom:50px;
	margin:auto;
	text-align:center;
}
.contact{
	min-height:600px;
}
.socials{
	text-align:center;
}
.socials img{
	display:inline-block;
	width:100px;
}
.js{
	text-align:center;
	width:100px;
	height:61px;
	margin:auto;
}
.js a{
	text-decoration:none;
	font-size:40px;
}
a.tilelink{
	color:gray;
	display:block;
    width:100px;
	height:61px;
}
a.tilelink:hover{
	color:orange;
}
.footer{
	background-color:black;
	width:1500px;
	margin:auto;
	text-align:center;
	font-size:20px;
	
}
p{
	font-size:20px;
	text-align:center;
}
.hrline { 
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(black), color-stop(50%, white));
	
}
.clearfix{
	clear:both;
}

